@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?d1uw6x");
  src: url("../fonts/icomoon.eot?d1uw6x#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?d1uw6x") format("truetype"),
    url("../fonts/icomoon.woff?d1uw6x") format("woff"),
    url("../fonts/icomoon.svg?d1uw6x#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
