@charset "UTF-8";
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 20px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
[class^="icon-"].i-64,
[class*=" icon-"].i-64 {
  font-size: 64px;
}
[class^="icon-"].i-54,
[class*=" icon-"].i-54 {
  font-size: 54px;
}
[class^="icon-"].i-48,
[class*=" icon-"].i-48 {
  font-size: 48px;
}
[class^="icon-"].i-36,
[class*=" icon-"].i-36 {
  font-size: 36px;
}
[class^="icon-"].i-32,
[class*=" icon-"].i-32 {
  font-size: 32px;
}
[class^="icon-"].i-28,
[class*=" icon-"].i-28 {
  font-size: 28px;
}
[class^="icon-"].i-24,
[class*=" icon-"].i-24 {
  font-size: 24px;
}
[class^="icon-"].i-20,
[class*=" icon-"].i-20 {
  font-size: 20px;
}
[class^="icon-"].i-16,
[class*=" icon-"].i-16 {
  font-size: 16px;
}
[class^="icon-"].i-14,
[class*=" icon-"].i-14 {
  font-size: 14px;
}
[class^="icon-"].i-12,
[class*=" icon-"].i-12 {
  font-size: 12px;
}

.icon-menu:before {
  content: "";
}

.icon-call:before {
  content: "";
}

.icon-location:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-refresh:before {
  content: "";
}

.icon-print:before {
  content: "";
}

.icon-airplane:before {
  content: "";
}

.icon-bike:before {
  content: "";
}

.icon-car:before {
  content: "";
}

.icon-mobile:before {
  content: "";
}

.icon-pet:before {
  content: "";
}

.icon-accident:before {
  content: "";
}

.icon-add:before {
  content: "";
}

.icon-alert:before {
  content: "";
}

.icon-arrow-down:before {
  content: "";
}

.icon-arrow-left:before {
  content: "";
}

.icon-arrow-right:before {
  content: "";
}

.icon-arrow-up:before {
  content: "";
}

.icon-calendar:before {
  content: "";
}

.icon-check:before {
  content: "";
}

.icon-check-handwrite:before {
  content: "";
}

.icon-chevron-down:before {
  content: "";
}

.icon-chevron-up:before {
  content: "";
}

.icon-close:before {
  content: "";
}

.icon-download:before {
  content: "";
}

.icon-dream:before {
  content: "";
}

.icon-eye:before {
  content: "";
}

.icon-eye-close:before {
  content: "";
}

.icon-factory:before {
  content: "";
}

.icon-farmer:before {
  content: "";
}

.icon-fire:before {
  content: "";
}

.icon-graduate:before {
  content: "";
}

.icon-home:before {
  content: "";
}

.icon-info:before {
  content: "";
}

.icon-infosecurity:before {
  content: "";
}

.icon-injury:before {
  content: "";
}

.icon-line:before {
  content: "";
}

.icon-list:before {
  content: "";
}

.icon-medical:before {
  content: "";
}

.icon-minus:before {
  content: "";
}

.icon-mountain:before {
  content: "";
}

.icon-phone:before {
  content: "";
}

.icon-quote:before {
  content: "";
}

.icon-remove:before {
  content: "";
}

.icon-reply:before {
  content: "";
}

.icon-search:before {
  content: "";
}

.icon-shop:before {
  content: "";
}

.icon-typhoon:before {
  content: "";
}

.icon-waffle:before {
  content: "";
}

.icon-work:before {
  content: "";
}

.icon-refund:before {
  content: "";
}

.icon-qa:before {
  content: "";
}

.icon-payment:before {
  content: "";
}

.icon-keep:before {
  content: "";
}

.icon-location-b:before {
  content: "";
}

.icon-chevron-right:before {
  content: "";
}

.icon-chevron-left:before {
  content: "";
}

.icon-index-work:before {
  content: "";
}

.icon-index-typhoon:before {
  content: "";
}

.icon-index-shop:before {
  content: "";
}

.icon-index-lifestage:before {
  content: "";
}

.icon-index-injury:before {
  content: "";
}

.icon-index-infosecurity:before {
  content: "";
}

.icon-index-home:before {
  content: "";
}

.icon-index-health:before {
  content: "";
}

.icon-index-fire:before {
  content: "";
}

.icon-index-farmer:before {
  content: "";
}

.icon-index-climb:before {
  content: "";
}

.icon-index-accident:before {
  content: "";
}

.icon-ins-pet:before {
  content: "";
}

.icon-ins-mobile:before {
  content: "";
}

.icon-ins-house:before {
  content: "";
}

.icon-ins-health:before {
  content: "";
}

.icon-ins-car:before {
  content: "";
}

.icon-ins-bike:before {
  content: "";
}

.icon-ins-airplane:before {
  content: "";
}

.icon-member-hurt:before {
  content: "";
}

.icon-member-house:before {
  content: "";
}

.icon-member-flight:before {
  content: "";
}

.icon-member-car:before {
  content: "";
}

.icon-member-list:before {
  content: "";
}
