.section-title-project {
  padding-top: 25px;
}

.card .content .title-color {
  color: #00994e;
}

.features {
  text-align: center;
}

.card-bottom{
  position: absolute !important;
  bottom: 5px;
  width: 100%;
}
